<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{data.city}}'s Weather</title>
</head>

<body>
    <h1>{{data.city}}'s Weather</h1>
    <p><strong>Sky Conditions:</strong> {{data.description}}</p>
    <p><strong>Current Temperature:</strong> {{data.temp}} Degrees Fahrenheit</p>
    <p><strong>Minimum Temperature:</strong> {{data.temp_min}} Degrees Fahrenheit</p>
    <p><strong>Maximum Temperature:</strong> {{data.temp_max}} Degrees Fahrenheit</p>
    <button><a href="">Search Again</button>
</body>
</html>